.footer{
    height: 100%;
    display: grid;
    align-items: end;
    justify-items: center;
}

.footer p{
    font-size: 0.8em;
    text-align: center;
    color: green;
    background-color: rgb(5, 5, 5);
    padding: 10px;
}