.editor{
    border: 1px solid black;
}

.top-bar{
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    background-color: rgb(26, 24, 24);

}
.screen{
    width: 100%;
    height: 35vh;
}
.screen textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 2px;
}
.top-bar h2{
}

@media (max-width: 500px){
    .screen textarea{
        width: 100%;
    }
}

@media (max-width: 280px){
    .screen textarea{
        width: 100%;
    }
}