
<div class="editor">
    <div class="top-bar">
        <h2>Editor</h2>
        <fa-icon 
            *ngIf="showWindow" 
            [icon]="faCompressArrowsAlt" 
            size="lg" 
            [classes]="['icon-editor-compress']"
            (click)="onClickEditor()"
        ></fa-icon>
        <fa-icon 
            *ngIf="!showWindow" 
            [icon]="faExpandArrowsAlt" 
            size="lg"  
            [classes]="['icon-editor-expand']"
            (click)="onClickEditor()"
        ></fa-icon>
    </div>
    <div class="screen" *ngIf="editorShowWindow" [@showAnimation]>
        <textarea (keyup)="onEditorChange($event)">{{ this.textToShow }}</textarea>
    </div>
</div>
