.editor{
    border: 1px solid black;
}

.top-bar{
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    color: green;
    background-color: #191d19;

}
.screen{
    width: 100%;
}
.screen textarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 2px;
    color: white;
    background-color: black;
    border: none;
}
.half-screen{
    height: 35vh;
}
.full-screen{
    height: 70vh;
}