.container{
    width: 80%;
    height: calc(100vh - 40px);
    margin: auto;
    padding: 40px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 10px;
}


@media (max-width: 500px){
    .container{
        width: 80%;
        margin: auto;
        padding: 20px;
    }
}

@media (max-width: 280px){
    .container{
        min-height: 100vh;
        padding: 5px;
    }
}