<div class="previewer">
    <div class="top-bar">
        <h2>Previewer</h2>
        <fa-icon 
            *ngIf="showWindow" 
            [icon]="faCompressArrowsAlt" 
            size="lg" 
            [classes]="['icon-previewer-compress']"
            (click)="onClickPreviewer()"
        ></fa-icon>
        <fa-icon 
            *ngIf="!showWindow" 
            [icon]="faExpandArrowsAlt" 
            size="lg"  
            [classes]="['icon-previewer-expand']"
            (click)="onClickPreviewer()"
        ></fa-icon>
    </div>
    <div class="screen" *ngIf="previewerShowWindow" [@showAnimation]>
        <div class="editor-screen" [innerHTML]="this.textToShow"></div>
    </div>
</div>

